@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --min-width: 375px;
  --max-width: 430px;
  font-size: 62.5%;
  background-color: #000000;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-width: var(--min-width);
  max-width: var(--max-width);
  min-height: 150dvh;
  margin: 0 auto;

  font-family: var(--font-pretendard), Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;

  overflow-x: auto;
}

a {
  text-decoration: none;
}

select {
  background: #fff;
}

.suit {
  font-family: var(--font-suit), sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
