@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --min-width: 375px;
  --max-width: 430px;
}

body {
  width: 100%;
  min-width: var(--min-width);
  max-width: var(--max-width);
  min-height: 100dvh;
  margin: 0 auto;

  font-family: var(--font-pretendard), Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;

  /* border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1); */
}

a {
  text-decoration: none;
}

select {
  background: #fff;
}

.suit {
  font-family: var(--font-suit), sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
